body {
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(BG\ Image.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
img{
    margin-top: 20px;
    border: 10px solid gray;
    border-radius: 30px;

}
#fpage{
    text-align: center;
    margin-top: 215px;
    padding: 75px;
    border-radius: 10px;
    background-image: radial-gradient(circle, rgb(211, 211, 211), rgb(169, 169, 169));
    box-shadow: 0px 0px 3px 3px black;
}
#pt p{
    margin-top: 15px;
    font-size: 35px;
    font-weight: bold;
    margin-bottom: 20px;
}
#sub{
    background: radial-gradient(circle,rgb(208, 231, 249),rgb(187, 218, 239),rgb(163, 200, 228),rgb(147, 188, 224),rgb(162, 200, 234));
    margin-top: 25px;
    font-size: 22px;
    padding: 10px 20px;
    border-radius: 25px;
}